@import "tailwindcss";

@theme {
  --color-primary: #d46211;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221810;
  --font-display: "Plus Jakarta Sans", sans-serif;
}

body {
  font-family: var(--font-display);
}

.easter-egg-pattern {
  background-color: var(--color-background-light);
  background-image: radial-gradient(var(--color-primary) 0.5px, transparent 0.5px), radial-gradient(var(--color-primary) 0.5px, var(--color-background-light) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  opacity: 0.05;
}

.dark .easter-egg-pattern {
  background-color: var(--color-background-dark);
  background-image: radial-gradient(var(--color-primary) 0.5px, transparent 0.5px), radial-gradient(var(--color-primary) 0.5px, var(--color-background-dark) 0.5px);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.fill-1 {
  font-variation-settings: 'FILL' 1;
}

.active-module {
  background-color: rgba(212, 98, 17, 0.1);
  border-left: 4px solid var(--color-primary);
}

.module-card:hover .progress-bar-fill {
  width: 100% !important;
  transition: width 0.5s ease-in-out;
}
